## Text that appears across the entire site:

# Description of site in page meta tags
site-description = Kutsal Kitap’ı çevrimiçi ezberlemenin en kolay ve sosyal yolu.

## Site navigation links:

# Link in top nav to dashboard
site-nav-dashboard = Ön panel

# Link in top nav to 'Choose verses' page
site-nav-choose = Ayet Seç

# Link in top nav to 'Help' page
site-nav-help = Yardım

# Link in top nav to 'About' page
site-nav-about = Hakkında

# Link in top nav to 'Contact us' page
site-nav-contact = İletişim

# Link to sign in/log in. Shown when user is not yet logged in
site-sign-in = Giriş yap

# Link to create a new account. Shown when user is not logged in
site-create-account = Hesap oluştur

# Link to log a user out of the site
site-log-out-link = Çıkış yap

# Link to user account details page
site-account-details-link = Hesap detayları

# Link that activates user preferences dialog
site-user-preferences-link = Seçenekler

# Link to the user's "Verse progress" page
site-verse-progress-link = Ayet ilerlemesi

# Link to the user's "Verse sets" page (verse sets they created and use)
site-verse-sets-link = Ayet dizinleri

# Link to user's statistics page
site-user-stats-link = İstatistikler

# 'User name' that appears if the user is not logged in
site-guest-user-name = Misafir



## Misc:

# Displays the amount of money that has been raised so far towards a donation target
# $amount is a money value
site-donation-drive-raised-html = Alınan bağış: <b>{ $amount }</b>

# Displays the target amount of money in a donation drive.
# $amount is a money value
site-donation-drive-target-html = Bağış hedefi: <b>{ $amount }</b>

# Tooltip on the close button for messages
site-messages-clear-this = İletiyi kapat

# Help message that is displayed when there are lots of old messages
site-messages-clear-messages-help = İletileri kapatmak için çarpı işaretine basınız ↑

# A personal link on every page that can be used for sharing the page
site-referral-link = Tanıtım linki

# The link text next to the referral link that goes to an explanation
site-referral-link-whats-this = Bu ne?

# Link in the footer to 'Help' page
site-footer-help = { site-nav-help }

# Link in the footer to 'About us' page
site-footer-about = { site-nav-about }

# Link in the footer to Terms of Service page
site-footer-terms-of-service = Hizmet kullanım şartları

# Link in the footer to Privacy and cookies information
site-footer-privacy = Gizlilik ve Çerezler

# Link in the footer to info about provided Bible versions
site-footer-bible-versions = Kutsal Kitap çevirileri

# Link in the footer to info about referral program
site-footer-referral-program = Tanıtım programı

# Link in the footer to page for contacting learnscripture
site-footer-contact-us = Bizimle irtibata geçin

site-footer-bible-texts-used = Kutsal Kitap ve ilmihal metinleri izin ile kullanıldı:

site-footer-choose-language = Site arabirim dili:

# Option that appears in filters that allow choosing languages, for choosing
# any/all languages.
site-languages-all =
    Tümü

# Caption for button that changes the language
site-footer-choose-language-button = Seçiniz


site-logout-confirm-prompt = Çıkış yapmak istediğinizden emin misiniz?

# Caption on box that shows link for sharing the page URL
site-share-link = Sayfayı paylaş:

# Dispayed next to the share link, the user can press if they need more info about this feature
site-share-link-whats-this = Bu ne?

# Title of 'Offline' page
site-offline-title = Çevrimdışı

site-offline-body-1 = Çevrimdışı bulunuyorsununuz (veya sunucumuz çevrimdışıdır!).

site-offline-body-2 = İnternet bağlantınızı kontrol edip tekrar deneyiniz.

# Link text to try to connect to the site again
site-offline-try-again = Tekrar dene

# Heading for related links
site-see-also = Ayrıca bakınız

# Tooltip to indicate a certain action is publicly visible to other people
site-public-action = Bu eylem herkes tarafından görülecek

# Title for group of related links
site-see-also-header = Ayrıca bakınız:

site-you-need-to-login-html = Bu sayfaya erişmek için <a href="{ $login_url }">giriş yapmanız</a> (veya <a href="{ $signup_url }">hesap oluşturmanız</a>) gerek.

site-login-button = Giriş yap

# Button on log in page for user if they forgot password
site-forgot-password-button = Parolamı unuttum

# Shown when the page or part of it is still loading
site-loading-placeholder = Yükleniyor...

site-wrong-or-missing-translation =
    Çeviride sorun mu var? Düzeltmemize yardımcı olun!

