
@narrowWidthBreak1: 859px;
@narrowWidthBreak2: 600px;
@narrowWidthBreak3: 500px;

@shortHeightBreak1: 600px;
@shortHeightBreak2: 500px;


@focusShadow:  0px 0px 3px 3px var(--focusOutlineColor);

// General
body {
    color: var(--baseTextColor);
    background-color: var(--baseBackgroundColor);
    line-height: 1.5;
    margin: 0;
}

body,
input,
button,
select,
textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: @baseFontSize;
}

a {
    color: var(--linkColor);
    &:hover {
        color: var(--linkColorHover);
    }
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
    &:hover {
        text-decoration: underline;
    }
}


p {
  margin-top: @baseGapSize;
  margin-bottom: @baseGapSize;
  small {
    font-size: @baseFontSize - 2;
  }
}


// HEADINGS
// --------

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1em;
    margin-top: @baseGapSize;
    margin-bottom: @baseGapSize;
    font-family: var(--specialFontFamily);
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
    text-transform: uppercase;
}

input[type=image] {
    width: auto;
    height: auto;
    border: 0px solid white;
    color: white;
    padding: 0px;
    border-radius: 0px;
}

footer {
    color: var(--footerColor);
    a {
        text-decoration: underline;
        color: var(--footerColor);
        &:hover {
            color: var(--footerColor);
        }
    }
}

ul, ol {
    margin: 0 0 1.3em 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}


// Specific

q {
    font-style: italic;
    font-family: serif;
}

.addclearfix {
    .clearfix();
}


.hide {
  display: none;
}
.show {
  display: block;
}


// Bordered, shaded action boxes

@actionsetBorderRadius: 7px;

.verseset,
.borderedbox,
.actionset {
    padding: 15px;
    border-radius: @actionsetBorderRadius;
    border: 1px solid var(--bgBorderColor);
    background-color: var(--bgColor1);
    margin-bottom: var(--mainSidePadding);
    p:last-child {
        margin-bottom: 0;
    }
    > *:first-child, > form:first-child + * {
        margin-top: 0;
    }
    hr {
        border-bottom-color: var(--bgBorderColor);
    }
}

.verseset,
.actionset {

    .clearfix();
    form {
        float: right;
        text-align: right;
        margin: 0;
        padding: 0;

        p {
            margin-top: 0;
        }

        button + br + button {
            margin-top: 5px;
        }
        .btn {
            margin-left: 0.5em;
        }
        .icon-public {
            margin-right: -0.5em;
        }
    }
}

// Focus

.focus() {
    outline: none;
    box-shadow: @focusShadow;
}
:focus, .fakefocus, {
    .focus();
}

input:focus {
    // Needed for Chrome
    outline-offset: 0px;
}


span.chapternumber {
    font-size: 200%;
}
span.versenumber {
    vertical-align: super;
    font-size: 75%;
}

.catechism-version-info,
.verse-set-version-info {
    text-align: right;
    &, select {
        font-size: 90%;
    }
}

.errorlist li {
    color: @errorColor;
}

.warning-note {
    font-style: italic;
    font-size: 90%;
}

.note {
    font-size: 0.8em;
    font-style: italic;
}

// Paging

.paging {
    display: flex;
    justify-content: center;

    .paging-part {
        background-color: var(--baseBackgroundColor);
        border: 1px solid var(--bgBorderColor);
        padding: 0.5em 1em;
        margin-left: -1px;
        text-align: center;

        &:first-child {
            border-top-left-radius: @actionsetBorderRadius;
            border-bottom-left-radius: @actionsetBorderRadius;
        }
        &:last-child {
            border-top-right-radius: @actionsetBorderRadius;
            border-bottom-right-radius: @actionsetBorderRadius;
        }
    }
}

// Referral program page and links

.referral-link input {
    width: 10em;
    &[readonly] {
        cursor: pointer;
    }
}

p.referral-link {
    text-align: center;
    input {
        width: 80%;
    }
}

footer .referral-link-section {
    border-bottom: 1px solid var(--footerColor);
    padding-bottom: 1.3em;
    .referral-link input {
        max-width: 35%;
    }
}

// Warnings

.warning {
    padding: 1px 3px 2px;
    font-size: 80%;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color: #ff8020;
    border-radius: 3px;
}

// Close icon
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    &:hover {
        text-decoration: none;
    }
}

// HTMX animation

.htmx-request {
    opacity: 0.5;
    transition: 0.1s all;
    position: relative;

    &:before {
        content: @fa-var-spinner;
        display: block;
        animation: spin 2s infinite linear;
        .icon-FontAwesome();
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2em;
    }
}


#id-wrong-translation {
    font-size: 90%;
    margin-top: 0.5em;
}

// PWA standalone only

.reload-icon {
    display: none; // Don't reproduce browser functionality
}

#id-unloader {
    display: none;
}

@media all and (display-mode: standalone),
       all and (display-mode: fullscreen) {
    .reload-icon {
        font-size: 80%;
        float: right;
        display: inline-block;
    }
    // In standalone there is no chrome to show that something
    // is happening, we add our own.
    #id-unloader {
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        background-color: ~"rgba(var(--focusOutlineColorRGB), 1)";
        box-shadow: 2px 0 3px ~"rgba(var(--focusOutlineColorRGB), 1)";
        height: 2px;
        display: block;
        width: 0px;
        z-index: 110; // above navbar

        &.shown {
            transition: width 4s cubic-bezier(0.25, 0.00, 0.00, 1.00);
            width: 100vw;
        }
    }
}
