## Choose verses/verse sets page.

# Page title
choose-page-title = Choose verses


# Button/heading that displays a 'verse set' section when clicked
choose-choose-a-verse-set-heading = Choose a verse set

# Caption on 'search' input box
choose-search-input = Search:

# Button to run the search
choose-search-button = Search

# Title for the list of verse sets found in a search.
# $query is the text the user entered to search for.
choose-verseset-search-results-title-html = Search results for <i>{ $query }</i>:

# Message when no verse sets were found in a search
choose-verseset-search-no-results = No verse sets found that match your query.



# Prompt to create a passage set.
# $passage_ref is a verse reference like 'Genesis 1:1-10'.
# Part of the text should be a link, which should be wrapped in:
# <a data-create-passage-set href="{ $url }?ref={ $urlref }">    </a>
choose-create-passage-set-prompt-html = You could <a data-create-passage-set href="{ $url }?ref={ $urlref }">create a passage set for { $passage_ref }</a>.

# Notice displayed next to 'Learn' button
choose-learn-verset-public-notice = This action is public (unless the verse set is private and remains private)

# Displayed under the description of a selection verse set.
# $total is the number of verses in the verse set.
choose-verseset-includes-verses = Includes the following verses, { $total } in total:

# Displayed under the description of a passage verse set.
# $break_list is a comma separated list of section breaks (verse references)
choose-verseset-section-breaks = Section breaks at: { $break_list }


# Button/heading that displays 'verses' section when clicked
choose-choose-individual-verses-heading = Choose individual verses

# Comment above the boxes to browse/search for verses
choose-choose-verse-explanation-html =
    Choose a verse (or a few verses). For long passages, you should
    <a href="{ $create_passage_set_url }">create a 'passage' verse set</a>.



# Button/heading that displays 'create verse set' section when clicked
choose-create-verse-set-heading = Create a verse set

# Selection set sub heading
choose-selection-set-heading = Selection set

choose-selection-set-explanation =
    Selection verse sets are verses on a certain topic, or designed for a group
    of people to learn together.

choose-create-selection-verse-set-button = Create selection set

# Passage set sub heading
choose-passage-set-heading = Passage set

choose-passage-set-explanation =
    Passage verse sets are for a continuous set of verses, like a Psalm or a chapter or part of a chapter.

    When you are learning a passage set, you're always presented with the verses in order, and there are lots of tweaks to help you learn it as a passage rather than just a set of verses.

choose-create-passage-verse-set-button = Create passage set


# Catechism sub heading
choose-catechisms-heading = Learn a catechism


# Introduction to catechsisms
choose-catechism-intro = Catechisms are a question/answer method of learning Bible truth.
          While we don't think they are on a level with the Bible itself, they
          can be a very useful way of learning the truths the Bible teaches in a
          systematic way, and they fit well into the system LearnScripture uses
          for learning verses.

choose-catechisms-link = Browse our list of catechisms

# Button to start learning a verse or verse set
choose-learn-button = Learn

# Button to add a verse to the learning queue
choose-add-to-queue-button = Add to queue

# Caption for 'add a verse to the learning queue' button after it has been used and the verse has been added
choose-add-to-queue-button-added = Added!

# Message when no verses were found when searching for a verse
choose-verse-search-no-verses-found = No verses were found matching your search

