# Title on 404 page
errors-page-not-found-title = Page Not Found

# Subtitle on 404 page
errors-page-not-found-subtitle = It's not here

# Default message on 404 page
errors-page-not-found-message = Sorry it didn't work out!

# Title of error page when there is a problem on the server (meant to be a joke)
errors-500-title = You broke it!

# Body of 500 error page when there is a problem on the server
errors-500-body = Only kidding, it was us. We'll try to fix it ASAP.

# Generic error message
errors-server-error = The server could not be contacted or an error occurred. Please try again.

# Title on CSRF page, a type of security error message that can happen
errors-csrf-title = CSRF detected

errors-csrf-request-not-authenticated = Your request could not be authenticated.

# Displayed on the CSRF page
errors-csrf-cookie-problem = The problem appears to be that you do not have cookies enabled in your
      browser, or have blocked a cookie necessary for us to to correctly recognize
      you. Please enable cookies, go back and try again.

# Displayed if there is an error message. The text wrapped in <a... > and </a> becomes
# a link to the contact page.
errors-contact-us-html = Please <a href="{ $contact_url }">contact us</a> if this error persists.

