### Home page text.

home-bible-text = Let the word of Christ dwell in you richly

home-bible-reference = Colossians 3:16

home-strapline = The easiest way to memorize the Word of God online.

home-start-learning-button = Start learning!

# A quotation about LearnScripture.net from a user
home-user-quotation = ...finally something profitable on the internet that I can get addicted to...

# Heading 1 describing feature of learnscripture
home-easy-to-use-heading = Easy to use

home-easy-to-use-explanation = We try to make sure that your effort is spent memorizing the Bible, and
        not figuring out what to do next or trying to track your progress.

# Heading 2 describing feature of learnscripture
home-online-heading = Online


home-online-explanation = No need to install anything, it works with any recent browser, and no
        problems if something happens to your computer.

# Heading 3 describing feature of learnscripture
home-proven-system-heading = Proven system

home-proven-system-explanation = Based on principles from the Charlotte Mason Scripture Memory System and
        other proven techniques for memory strengthening, we’ve added some 21st
        century refinements to produce an extremely efficient method.

# Heading 4 describing feature of learnscripture
home-phones-heading = Great for phones

home-phones-explanation = The interface has been designed to adapt to small screens,
        so you can use the same web site from your desktop, laptop or other internet capable
        device, including most recent smart-phones

# Heading 5 describing feature of learnscripture
home-child-friendly-heading = Child friendly

home-child-friendly-explanation = With a choice of fun interface themes and a memorization method which
        works well with all ages, we’ve made sure that children will have no problem
        using the site. (Parents have to create accounts though).

# Heading 6 describing feature of learnscripture
home-social-heading = Social

home-social-explanation = Our groups, leaderboards, comments, points and badges features are
        great for keeping things fun, addictive and motivational!
        You can also add and share your own sets of verses to learn — perfect for
        church or friendship groups who want to learn the same thing.

# Heading 7 describing feature of learnscripture
home-free-heading = Free!

home-free-explanation = All aspects of the site are free for everyone. Since we are also keeping
        the site free of ads, we cover our costs entirely by donations.

# Last heading
home-interested-heading = Interested?

home-interested-explanation-html = You can <a href="/about/">find out more</a> or just <a href="/choose/">jump in.</a>

