## Referrals program.

# Page title
referrals-page-title = Referral program

# First paragraph on referrals program page
referrals-intro = If you like LearnScripture.net and want to spread the word about it, our
    referral program will help you get badges while you do so!

# Title for section explanation how it works
referrals-how-it-works-title = How it works

referrals-how-it-works-paragraph-1 = For us to recognize that you were the source of the referral, you need a link
      like the following one to refer people to LearnScripture.net:

referrals-how-it-works-paragraph-2 = Click on the text, then choose 'Share' (mobile devices), or
      copy-and-paste this link and pass it on to a friend. If they use this link
      to get to the site, and then start learning verses, we'll track it and
      know that you referred them.

# Displayed on the referrals page if the user is not logged in.
referrals-you-need-to-create-an-account-html = You first need an account, and need to <a href="{ $login_url }">sign in</a> to get the full instructions and the referral link.


# Sub-title for list of things not to do
referrals-please-dont-title = Please don't:

referrals-please-dont-send-bulk-emails = Send bulk emails to friends about this. Many of them may consider this to
      be spam, or even think it came from us, and you may give LearnScripture.net a
      bad name!

# Sub-title for list of things you should/can do
referrals-please-do-title = Please do:

referrals-please-do-share-on-social-media = Post this link to social sites like Twitter or Pinterest (as long as you don't post it repeatedly and annoy people!)

referrals-please-do-include-personal-comments = Include some personal comment about why you like LearnScripture.net or how it has helped you.

# Sub title for section about sharing specific pages
referrals-specific-pages-title = Specific pages

referrals-specific-pages-paragraph-1 = You can also get a referral link for specific pages. At the bottom of most
    pages that make good starting points, you'll see 'Share link'. These will
    automatically use the right URL with the '?from=' bit added. Click on the link to
    select it and share.

referrals-paragraph-2-html = This can be especially useful to get a group of friends to start learning
    a <a href="{ $choose_url }">verse set</a>, or to join a
    <a href="{ $groups_url }">group</a>.

