{% extends 'base.html' %}

{% load form_rendering %}
{% load ftl %}

{% block content %}

  {% ftlmsg 'contact-form-page-top-html' %}

  <form action="" id="id_contact-form" method="POST">
    {% csrf_token %}

    {{ form|render_form }}

    <div class="actions">
      <button type="submit" name="send" class="btn primary">{% ftlmsg 'contact-form-send-button' %}</button>
    </div>

  </form>

  {% ftlmsg 'contact-form-page-bottom-html' %}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblock %}
