{% extends "base_twocol.html" %}

{% load account_utils %}
{% load dict_utils %}
{% load ftl %}

{% block body_extra_class %}{{ block.super }} dashboard-page{% endblock %}

{% block leftcolumn %}

  {% if create_account_warning %}
    <div class="borderedbox">
      <p>
        {% url 'signup' as signup_url %}
        <small>{% ftlmsg 'dashboard-remember-to-create-an-account-html' signup_url=signup_url expires=request.identity.expires_on %}</small>
      </p>
    </div>
  {% endif %}

  {% if request.identity.scoring_enabled %}
    <h2>{% ftlmsg 'dashboard-learning-events' %}
      <a href="#"
        id="id-show-heatmap"
      >
        {% if request.identity.heatmap_default_show %}
          <i class="icon-fw icon-heatmap-toggle expanded"></i>
        {% else %}
          <i class="icon-fw icon-heatmap-toggle"></i>
        {% endif %}
      </a>
    </h2>
    <div id="id-heatmap-section" class="borderedbox"
      {% if not request.identity.heatmap_default_show %}
        style="display: none;"
      {% endif %}
    >
      <div style="float: right; font-size: 120%;">
        <a href="{% url 'user_stats' request_account.username %}" title="{% ftlmsg 'heatmap-your-stats' %}"><i class="icon-fw icon-stats"></i></a>
        <a href="{% url 'user_verses' %}" title="{% ftlmsg 'heatmap-your-progress' %}"><i class="icon-fw icon-progress"></i></a>
      </div>
      <div id="id-heatmap-controls">
        <button id="id-heatmap-previous"><i class="icon-left btn"></i></button>
        <button id="id-heatmap-next"><i class="icon-right btn"></i></button>
        <span id="id-heatmap-loading">{% include "learnscripture/loading_animation.html" %}</span>
        <span id="id-heatmap-domain-title"></span>
      </div>
      <div id="id-heatmap-wrapper">
        <div id="id-heatmap-div"></div>
      </div>
      <div id="id-streaks">
        <div>{% ftlmsg 'heatmap-longest-streak' %}
          <span id="id-biggest-streak" class="streak">&nbsp;</span></div>
        <div>{% ftlmsg 'heatmap-current-streak' %}
          <span id="id-current-streak" class="streak">&nbsp;</span></div>
      </div>
      <form id="id-heatmap-stat-selector">
        <div class="input radioinput">
          <ul>
            {% for value, caption in heatmap_stats_types %}
              <li>
                <input type="radio" name="stat"
                  value="{{ value }}"
                  id="id-heatmap-select-stat-{{ value }}"
                  {% if request.identity.heatmap_default_stats_type == value %}checked{% endif %}
                ><label for="id-heatmap-select-stat-{{ value }}">{{ caption }}</label>
              </li>
            {% endfor %}
          </ul>
        </div>
      </form>
      <p class="note">{% ftlmsg 'heatmap-timezone-note' %}</p>

    </div>
  {% endif %}

  <div id="id-unfinished-session-warning"
    {# There are two types of unfinished session #}
    {# One is detected server side with session.unfinished_session #}
    {# The other can only be detected using localStorage client side #}
    {% if not unfinished_session_first_uvs %}
      style="display: none;"
    {% endif %}
  >
    <h2>{% ftlmsg 'dashboard-continue-title' %}</h2>
    <div class="actionset">
      <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" name="continue_session" class="btn primary">
          {% ftlmsg 'dashboard-continue-button' %}
        </button>
      </form>
      <p>{% ftlmsg 'dashboard-unfinished-notice' %}
        {% if unfinished_session_first_uvs %}
          {% if unfinished_session_first_uvs.verse_set and unfinished_session_first_uvs.verse_set.is_passage %}
            ({{ unfinished_session_first_uvs.verse_set.smart_name_dict|lookup:unfinished_session_first_uvs.version.language_code }})
          {% else %}
            ({{ unfinished_session_first_uvs.localized_reference }}...)
          {% endif %}
        {% endif %}
      </p>
      <p id="id-unfinished-session-unsaved-data-warning" style="display:none;">
        <b>{% ftlmsg 'dashboard-unfinished-notice-part-2' %}</b>
      </p>
    </div>
  </div>

  <h2>{% ftlmsg 'dashboard-review-title' %}</h2>

  <div class="actionset">

    {### Passages ###}

    {% for cvs in passages_for_reviewing %}
      <div class="addclearfix">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="verse_set_id" value="{{ cvs.verse_set.id }}" />
          <input type="hidden" name="version_id" value="{{ cvs.version.id }}" />
          {% if cvs.splittable %}
            <button type="submit" name="reviewpassage" class="btn primary"
              id="id-reviewpassage-btn-{{ cvs.id }}"
            >{% ftlmsg 'dashboard-review-whole-passage-button' %}</button><br/>
            <button type="submit" name="reviewpassagenextsection" class="btn primary"
              id="id-reviewpassage-sections-btn-{{ cvs.id }}"
            >{% ftlmsg 'dashboard-review-one-section-button' verse_count=cvs.next_section_verse_count %}</button><br/>
          {% else %}
            <button type="submit" name="reviewpassage" class="btn primary"
              id="id-reviewpassage-btn-{{ cvs.id }}"
            >{% ftlmsg 'dashboard-review-button' %}</button><br/>

          {% endif %}
          <button type="submit" name="cancelpassage" class="btn"
            id="id-cancelpassage-btn-{{ cvs.id }}"
          >{% ftlmsg 'dashboard-cancel-learning' %}</button><br/>
        </form>
        <h3><a href="{% url 'view_verse_set' cvs.verse_set.slug %}?version={{ cvs.version.slug }}">{{ cvs.verse_set.smart_name_dict|lookup:cvs.version.language_code }}</a> ({{ cvs.version.short_name }})<br/>
        </h3>
        <div>
          {% if cvs.needs_testing_count == cvs.total_verse_count %}
            {% ftlmsg 'dashboard-passage-due-for-review' verse_count=cvs.total_verse_count %}
          {% else %}
            {% ftlmsg 'dashboard-passage-part-due-for-review' needs_testing_count=cvs.needs_testing_count total_verse_count=cvs.total_verse_count %}
          {% endif %}
        </div>
      </div>
      {% if not forloop.last %}<hr>{% endif %}

    {% endfor %}

    {### Verses ###}

    {% if review_verses_queue %}

      {% if passages_for_reviewing %}<hr>{% endif %}

      <div class="addclearfix">
        <form action="" method="POST">
          {% csrf_token %}
          <button type="submit" name="reviewbiblequeue" class="btn primary">{% ftlmsg 'dashboard-review-button' %}</button>
        </form>

        <p>{% ftlmsg 'dashboard-verses-for-review-count' count=review_verses_queue|length %}
        </p>

        <p>{% ftlmsg 'dashboard-verses-coming-up' %}
          {% include 'learnscripture/verselist.html' with verselist=review_verses_queue %}
        </p>
      </div>

    {% endif %}

    {### Catechism QAs ###}

    {% if catechisms_for_reviewing %}

      {% if passages_for_reviewing or review_verses_queue %}<hr>{% endif %}

      {% for catechism in catechisms_for_reviewing %}

        <div class="addclearfix">
          <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" name="reviewcatechismqueue" class="btn primary">{% ftlmsg 'dashboard-review-button' %}</button>
            <input type="hidden" name="catechism_id" value="{{ catechism.id }}">
          </form>

          <h3><a href="{% url 'view_catechism' catechism.slug %}">{{ catechism.full_name }}</a></h3>

          <p>{% ftlmsg 'dashboard-catechism-questions-for-review-count' count=catechism.needs_reviewing_total %}</p>
          <br><br>
        </div>

        {% if not forloop.last %}<hr>{% endif %}

      {% endfor %}
    {% endif %}

    {#### Nothing ####}

    {% if not passages_for_reviewing and not review_verses_queue and not catechisms_for_reviewing %}
      <p>{% ftlmsg 'dashboard-general-queue-empty' %}
        {% if next_verse_due %}
          <br/>
          {% ftlmsg 'dashboard-next-item-due-html' title=next_verse_due.short_title timeuntil=next_verse_due.next_test_due|timeuntil %}
        {% endif %}
      </p>
    {% endif %}
  </div>


  <h2>{% ftlmsg 'dashboard-learn-title' %}</h2>


  <div class="actionset">

    {### Passages ###}

    {% for cvs in passages_for_learning %}
      <div class="addclearfix">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="verse_set_id" value="{{ cvs.verse_set.id }}" />
          <input type="hidden" name="version_id" value="{{ cvs.version.id }}" />
          <button type="submit" name="learnpassage" class="btn primary"
            id="id-learnpassage-btn-{{ cvs.id }}">
            {% if cvs.tested_total == 0 %}
              {% ftlmsg 'dashboard-learn-start-learning-button' %}
            {% else %}
              {% ftlmsg 'dashboard-learn-continue-learning-button' %}
            {% endif %}
          </button><br>
          <button type="submit" name="cancelpassage" class="btn"
            id="id-cancelpassage-btn-{{ cvs.id }}">
            {% ftlmsg 'dashboard-cancel-learning' %}
          </button>
        </form>
        <h3><a href="{% url 'view_verse_set' cvs.verse_set.slug %}?version={{ cvs.version.slug }}">{{ cvs.verse_set.smart_name_dict|lookup:cvs.version.language_code }}</a> ({{ cvs.version.short_name }})</h3>
        {% if cvs.tested_total == 0 %}
          <p>{% ftlmsg 'dashboard-passage-queued' %}</p>
        {% else %}
          {% if cvs.needs_review_total > 0 %}
            <p>{% ftlmsg 'dashboard-passages-youve-seen-verses-with-review-due-html' tested_total=cvs.tested_total needs_review_total=cvs.needs_review_total untested_total=cvs.untested_total %}</p>
          {% else %}
            <p>{% ftlmsg 'dashboard-passages-youve-seen-verses' tested_total=cvs.tested_total needs_review_total=cvs.needs_review_total untested_total=cvs.untested_total %}</p>
          {% endif %}
        {% endif %}
      </div>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}


    {### Verses ###}

    {% if learn_verses_queues %}
      {% if passages_for_learning %}<hr>{% endif %}

      {% for verse_set, queue in learn_verses_queues %}
        <div class="addclearfix">
          <form action="" method="POST"
            {# for benefit of testing: #}
            {% if verse_set %}
              id="id-learning-queue-verse-set-{{ verse_set.id }}"
            {% else %}
              id="id-learning-queue-non-verse-set"
            {% endif %}
          >
            {% csrf_token %}
            <button type="submit" name="learnbiblequeue" class="btn primary">{% ftlmsg 'dashboard-learn-button' %}</button><br /><button type="submit" name="clearbiblequeue" class="btn">{% ftlmsg 'dashboard-clear-queue-button' %}</button>
            {% if verse_set %}
              <input type="hidden" name="verse_set_id" value="{{ verse_set.id }}" />
            {% endif %}
          </form>

          {% if verse_set %}
            <h3><a href="{% url 'view_verse_set' verse_set.slug %}">{{ verse_set.smart_name_dict|lookup:default_language_code }}</a></h3>
          {% else %}
            {% if not forloop.first %}
              <h3>{% ftlmsg 'dashboard-learn-other-verses' %}</h3>
            {% endif %}
          {% endif %}

          {% if verse_set %}
            <p>{% ftlmsg 'dashboard-queued-verses-in-set' count=queue|length %}</p>
          {% else %}
            <p>{% ftlmsg 'dashboard-queued-verses' count=queue|length %}</p>
          {% endif %}

          <p>{% ftlmsg 'dashboard-verses-coming-up' %}
            {% include 'learnscripture/verselist.html' with verselist=queue %}
          </p>
          {% if not forloop.last %}<hr>{% endif %}
        </div>
      {% endfor %}
    {% endif %}

    {### Catechisms ###}

    {% if catechisms_for_learning %}

      {% if passages_for_learning or learn_verses_queues %}<hr>{% endif %}

      {% for catechism in catechisms_for_learning %}
        <div class="addclearfix">
          <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" name="learncatechismqueue" class="btn primary">{% ftlmsg 'dashboard-learn-button' %}</button><br /><button type="submit" name="clearcatechismqueue" class="btn">{% ftlmsg 'dashboard-cancel-learning' %}</button>
            <input type="hidden" name="catechism_id" value="{{ catechism.id }}">
          </form>

          <h3><a href="{% url 'view_catechism' catechism.slug %}">{{ catechism.full_name }}</a></h3>
          {% if catechism.tested_total == 0 %}
            <p>{% ftlmsg 'dashboard-catechism-question-count' count=catechism.untested_total %}</p>
          {% else %}
            <p>{% ftlmsg 'dashboard-catechism-learnt-and-remanining-count' started_count=catechism.tested_total remaining_count=catechism.untested_total %}</p>
          {% endif %}
        </div>

        {% if not forloop.last %}<hr>{% endif %}

      {% endfor %}
    {% endif %}

    {#### Nothing ####}
    {% if not passages_for_learning and not learn_verses_queues and not catechisms_for_learning %}
      <div class="addclearfix">
        <p>{% ftlmsg 'dashboard-learn-nothing-in-queue' %}</p>
      </div>
    {% endif %}

  </div>

  <h2>{% ftlmsg 'dashboard-choose-title' %}</h2>

  <div class="actionset">
    {% url 'choose' as choose_url %}
    <p>{% ftlmsg 'dashboard-choose-link-html' url=choose_url %}</p>

  </div>

{% endblock %}



{% block rightcolumn %}

  <h3>{% ftlmsg 'dashboard-todays-stats-title' %}</h3>

  <div id="id-stats-block">
    {% ftlmsg 'dashboard-todays-stats-new-verses-begun' new_verses_started=new_verses_started %}<br/>
    {% ftlmsg 'dashboard-todays-stats-total-verses-tested' total_verses_tested=total_verses_tested %}
  </div>

  <h3>{% ftlmsg 'dashboard-your-groups-title' %}</h3>

  {% if groups %}
    <ul class="grouplist">
      {% for group in groups %}
        <li>{{ group|group_link }} »
          <a
            href="{% url 'group_leaderboard' group.slug %}?thisweek">{% ftlmsg 'leaderboards-leaderboard' %} <i class="icon-leaderboard icon-replace"></i>
          </a>
        </li>
      {% endfor %}
      {% if more_groups %}
        <li><a href="{% url 'user_stats' request_account.username %}#groups">{% ftlmsg 'dashboard-groups-see-all' %}</a></li>
      {% endif %}

    </ul>
    <div class="note"><a href="{% url 'groups' %}">{% ftlmsg 'dashboard-view-other-groups-link' %}</a></div>
  {% else %}
    {% url 'groups' as groups_url %}
    <div>{% ftlmsg 'dashboard-why-not-join-a-group-html' url=groups_url %}</div>
  {% endif %}

  <h3>{% ftlmsg 'dashboard-news-title' %}</h3>

  <div class="eventstream">
    <ul>
      {% for event in events %}
        <li>
          {% if event.accepts_comments %}
            <span class="commentindicator">
              <a href="{{ event.get_absolute_url }}" title="{% ftlmsg 'comments-view-or-add-comments-tooltip' %}"><i class="icon-comment"></i> <span class="commentcount">{{ event.comment_count }}</span>
              </a>
            </span>
          {% endif %}
          {{ event.render_html_dict|lookup:default_language_code }}
          {% if event.is_new_comment %}
            {% with comment=event.get_comment %}
              <div class="commentmessage">
                {{ comment.message_formatted|truncatewords_html:20 }}
              </div>
            {% endwith %}
          {% endif %}
          <div class="postline">
            <a href="{{ event.get_absolute_url }}"><span class="timestamp">{{ event.created_display }}</span></a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <a href="{% url 'activity_stream' %}">{% ftlmsg 'dashboard-more-news-link' %}</a>


  <div id="id-dashboard-script-data"
    {% if request.identity.account %}
      data-user-timeline-stats-user="{{ request.identity.account.username }}"
    {% endif %}
  >
  </div>
  {% include "learnscripture/dashboard_js_i18n_strings_inc.html" %}
{% endblock %}
