{% extends 'base_twocol.html' %}

{% load form_rendering %}
{% load ftl %}

{% block body_extra_class %}group-wall-page{% endblock %}

{% block leftcolumn %}

  <h2>{% ftlmsg 'comments-comment-list-title' %}</h2>

  <form action="." method="GET"
    hx-get="."
    hx-target="#id-group-wall-comments"
    hx-indicator="#id-group-wall-comments"
  >
    {{ filter_form|render_form }}
  </form>

  <div id="id-group-wall-comments">
    {% include "learnscripture/group_wall_comments_inc.html" %}
  </div>

  {% include "learnscripture/comment_common_inc.html" %}


{% endblock %}

{% block rightcolumn %}
  <h3>{% ftlmsg 'site-see-also' %}</h3>
  <ul>
    <li><a href="{% url 'group' group.slug %}">{% ftlmsg 'groups-details-group-info-subtitle' %}</a></li>
    <li><a href="{% url 'group_leaderboard' group.slug %}">{% ftlmsg 'leaderboards-leaderboard' %} <i class="icon-leaderboard"></i></a></li>
    <li><a href="{% url 'groups' %}">{% ftlmsg 'groups-other-groups-link' %}</a></li>
  </ul>

{% endblock %}
