{% load ftl %}

{% if 'query' in request.GET %}
  {% if query == '' %}
    <p>{% ftlmsg 'groups-search-enter-search-term' %}</p>
  {% else %}
    <h2>{% ftlmsg 'groups-search-results-subtitle' %}</h2>
    {% if results.items %}
      {% include "learnscripture/groups_results_inc.html" %}
    {% else %}
      <p>{% ftlmsg 'groups-search-no-results' %}</p>
    {% endif %}
  {% endif %}
{% endif %}
