{# See also language_selector_inc_home.html #}
{% load i18n %}
{% load ftl %}

<div id="id-language-chooser-form">
  <form action="{% url 'learnscripture_set_language' %}" method="post">
    {% csrf_token %}
    {% ftlmsg 'site-footer-choose-language' %}
    <select name="language">
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == request.LANGUAGE_CODE %} selected{% endif %}>
          {{ language.name_local }}
        </option>
      {% endfor %}
    </select>
    <button type="submit" class="btn">{% ftlmsg 'site-footer-choose-language-button' %}</button>
  </form>
  {% if request.LANGUAGE_CODE != 'en' %}
    <div id="id-wrong-translation">
      <a href="/translation/">{% ftlmsg 'site-wrong-or-missing-translation' %}</a>
    </div>
  {% endif %}
</div>
